appdirs==1.4.0
awscli==1.11.50
AWSIoTPythonSDK==1.1.1
boto3==1.4.4
botocore==1.5.13
colorama==0.3.7
docopt==0.6.2
docutils==0.13.1
dotmap==1.2.15
futures==3.0.5
jmespath==0.9.1
packaging==16.8
paho-mqtt==1.2
pyasn1==0.2.2
pyparsing==2.1.10
python-dateutil==2.6.0
PyYAML==3.12
requests==2.13.0
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
